*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  position: relative;
  margin: auto;
  padding: 30px;
  text-align: center;
}

.layover{
  position: absolute;
  left: 7%;
  width: 85vw;
  height: 91%;
  background-color: rgba(0, 0, 0, 0.5)
}

img{
  width: 85vw;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.90);
}

h1{
  color: white;
  font-weight: 600;
  text-shadow: 3px 3px 3px rgba(10, 5, 3, 0.51);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
